<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>EXAppExtensionAttributes</key>
        <dict>
            <key>EXExtensionPointIdentifier</key>
            <string>com.apple.securecapture</string>
        </dict>
        
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>Blueberry Cam saves your photos to your library.</string>
        
        <key>NSCameraUsageDescription</key>
        <string>Blueberry Cam needs camera access to capture photos.</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
    </dict>
</plist>
